@font-face {
	font-family: Gotham; /* Гарнитура шрифта */
	src: url(../font/GothamPro.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: GothamBold; /* Гарнитура шрифта */
	src: url(../font/GothaProBol.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: Myriad; /* Гарнитура шрифта */
	src: url(../font/MyriadPro-Regular.ttf); /* Путь к файлу со шрифтом */
}

*{
	padding: 0;
	margin: 0;
	font-family: Gotham;
}

.white-text{
	color: #fff;
}

.text_blue{
	color: #11749e;
}

.back-text_black{
	color: rgba(0,0,0,.18);
}

.back-text_white{
	color: rgba(255,255,255,.18);
}

.menu{
	border-bottom: 1px white solid;
}

.menu-block-nav{
	padding: 10px 0;
	margin: 0 7%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	.menu-logo{
		width: 20%;
		display: flex;
		justify-content: start;

		.logo__img{
			width: 50px;
		}
	}

	.menu_link{
		color: #fff;
		text-decoration: none;
		font-family: Myriad;
		font-size: 20px;
		line-height: 1;
		text-decoration:none;
		cursor: pointer;
		position:relative;
		display: inline-block;
	}
	.menu_link:after {
		margin-top: 20px;
		background-color: #11749e;
		display: block;
		content: "";
		height: 5px;
		width: 0%;
		left:50%;
		position:absolute;
		transition: width .2s ease-in-out;
		transform:translateX(-50%);
	}
	.menu_link:hover:after{
		width: 130%;
	}
}			


.menu-socials{
	width: 15%;
	display: flex;
	justify-content: space-around;

	a{
		color: #fff;
		font-size: 20px;

	}

	a:hover{
		color: #11749e;
		transition: .2s;
	}
}


.header{
	background: url(../img/fon_1.jpg);
	height: 100vh;
	background-size: cover;

	.welcome-text{
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		.welcome-text__p-big{
			color: #fff;
			font-size: 152px;
			font-family: GothamBold;
			text-transform: uppercase;
		}

		.welcome-text__p-mini{
			color: #11749e;
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: 20px;
		}
	}
}


.about{
	background-color: #11749e;
	padding: 10% 0;
}

.caption{
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.caption__front-text{
		font-size: 37px;
		top: 50%;
		position: relative;
		top: 80px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

	.caption__back-text{
		font-size: 247px;
		font-family: GothamBold;
		position: relative;
		bottom: 80px;
	}


	.subtitle{
		font-size: 30px;
		bottom: 80px;
		position: relative;
		text-align: center;
	}
}

.wrap-cards{
	margin: 0 7%;

	.cards{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 2em;
		grid-auto-rows: auto;


		.card-item{
			align-self: start;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.circle{
				display: flex;
				width: 130px;
				height: 130px;
				border-radius: 50%;
				background-color: #2e85aa;

				i{
					color: #fff;
					margin: auto;
					font-size: 28px;
				}
			}

			.card__caption{
				text-align: center;
				text-transform: uppercase;
				padding: 25px 0 35px 0;
				font-size: 18px;
				font-weight: bold;
			}

			.card__text{
				text-align: justify;
				line-height: 20px;
				font-size: 15px;
			}
		}
	}
}

.news-block{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 5% 14%;
	line-height: 22px;

	.news__date{
		font-size: 13px;
	}

	.news__caption{
		padding: 5px 0 15px 0;
		text-transform: uppercase;
	}

	.news__text{
		font-size: 15px;
	}
}

.news{
	img{
		max-width: 100%;
		height: auto;
		align-self: center;
	}
}

img{
	max-width: 100%;
	height: auto;
	align-self: center;
}

.news-1{
	background-color: #222222;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.news-2{
	background-color: #f3f3f3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.blog{
	padding: 50px 0;

	.blog__img{
		max-width: 270px;
		height: 280px;
		/* overflow: hidden; */

		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	a{
		text-decoration: none;
	}
}


.feature{
	background: url(../img/feature-bg.jpg) no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;


	.left-block{
		display: flex;
		justify-content: center;
		align-items: center;
		/* 		padding-left: 100px; */

		.item{
			background-color: #11749e;
			margin: 10px 0 10px 0;
			height: 40px;
			display: flex;
			align-items: center;

			.item__text{
				padding-left: 20px;
			}
		}

		.item-1{
			width: 370px;
			margin-top: 60px;
		}

		.item-2{
			width: 400px;
		}

		.item-3{
			width: 430px;
		}
	}

	.right-block{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 14%;
	}

}

.team{
	padding: 50px 0;

	.team__img{
		max-width: 270px;
	}

	.team-info{
		width: 216px;
		height: 70px;
		background-color: #fff;
		position: relative;
		top: -38px;
		display: flex;
		flex-direction: column;

		.team-name{
			margin: auto;
			text-align: center;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
		}

		.team-prof{
			margin: auto;
			font-size: 15px;
		}
	}
}

.contact{
	background: url(../img/contact-bg.jpg) no-repeat;
	background-size: cover;
	padding-top: 100px;

	.contact-form{
		margin: 0 7%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
		padding-bottom: 50px;


		.name, .mail, .phone{
			height: 46px;
			font-size: 26px;
			background-color: transparent;
			outline: none;
			border: white 2px solid;
			color: white;
			padding-left: 20px;
		}
		

		.message{
			grid-column: 1/4;
			resize: none;
			height: 150px;
			font-size: 26px;
			background-color: transparent;
			outline: none;
			border: white 2px solid;
			color: white;
			padding: 20px;
		}

		.button{
			grid-column: 3 / 2;
			margin: auto;
			width: 225px;
			height: 65px;
			font-size: 24px;
			background-color: #11749e;
			outline: none;
			border: none;
			color: white;
			font-weight: bold;
		}

		.button:active{
			box-shadow: inset 0 0 5px rgba(0,0,0,1);
		}
	}
}

#map{
	max-width: 100%;
	height: 350px;
}

.footer{
	padding: 0 7%;
	height: 115px;
	background-color: #000;
	display: flex;
	align-items: center;
}


/********************************** media ***********************************/

@media all and (max-width: 1200px) {

	.wrap-cards{

		.cards{
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.contact{

		.contact-form{
			grid-template-columns: repeat(1, 1fr);

			.message{
				grid-column: 1;
			}

			.button{
				grid-column: 1;
			}
		}
	}
	
}

@media all and (max-width: 992px) {


	.menu{
		position: fixed;
		z-index: 49;

		&-btn{
			z-index: 50;
			display: block;
			width: 50px;
			height: 50px;
			background-color: #fff;
			border-radius: 50px;
			box-shadow: 1px 1px 10px rgba(0,0,0,.4);
			position: fixed;
			top: 20px;
			left: 20px;

			span, span:before, span:after{
				display: block;
				height: 2px;
				width: 18px;
				position: absolute;
				left: 50%;
				margin-left: -9px;
				top: 50%;
				margin-top: -1px;
				background-color: #333;

			}

			span:before{
				transition: all 0.2s;
				content: "";
				margin-top: -6px;
			}

			span:after{
				transition: all 0.2s;
				content: "";
				margin-top: 4px;
			}

		}

		&-btn_active{

			span{
				background-color: transparent;

				&:before{
					transform: rotate(135deg);
					margin-top: 0;
				}

				&:after{
					transform: rotate(-135deg);
					margin-top: 0;
				}
			}
		}

		&-block-nav{
			padding: 0 !important;
			margin: 0 !important;
			position: fixed;
			flex-direction: column;
			align-items: center;
			height: 100vh;
			width: 100vw;
			background-color: rgba(0,0,0,.9);
			left: -100vw;
			transition: all 0.5s;

			.menu-logo{
				justify-content: center !important;
			}

			a{
				line-height: 4;
				letter-spacing: 4px;
			}
		}

		&-socials{
			width: 60%;
		}

		&-block-nav_active{
			left: 0;
		}
	}


	.header{

		.welcome-text{

			.welcome-text__p-big{

				font-size: 120px;
			}

			.welcome-text__p-mini{
				font-size: 16px;
			}
		}
	}

	.caption{

		.caption__front-text{
			font-size: 28px;
		}

		.subtitle{
			font-size: 24px;
		}
	}
}



@media all and (max-width: 768px) {

	.header{

		.welcome-text{

			.welcome-text__p-big{

				font-size: 70px;
			}

			.welcome-text__p-mini{
				font-size: 12px;
				line-height: 16px;
			}
		}
	}

	.caption{

		.caption__front-text{
			font-size: 24px;
		}
	}

	.wrap-cards{

		.cards{
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.news{

		img{
			display: none;
		}

		.news-1{
			grid-template-columns: repeat(1, 1fr);
		}

		.news-2{
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.feature{
		grid-template-columns: repeat(1, 1fr);

		.left-block{

			.item-1{
				width: 270px;
			}

			.item-2{
				width: 300px;
			}

			.item-3{
				width: 330px;
			}
		}

		.right-block{
			padding-top: 30px;

			img{
				max-width: 60%;
			}
		}
	}

	
}

@media all and (max-width: 480px) {

	.header{

		.welcome-text{

			.welcome-text__p-big{

				font-size: 50px;
			}

			.welcome-text__p-mini{
				font-size: 10px;
			}
		}
	}

	.feature{

		.left-block{

			.news-block{
				padding: 5% 7%;
			}

			.item-1{
				width: 190px;
			}

			.item-2{
				width: 220px;
			}

			.item-3{
				width: 250px;
			}
		}

		.right-block{
			padding-top: 30px;

			img{
				max-width: 60%;
			}
		}
	}

	.caption{

		.caption__front-text{
			font-size: 22px;
		}

		.subtitle{
			font-size: 20px;
		}
	}

	.contact{


		.contact-form{

			.name, .mail, .phone{
				max-width: 260px;
				justify-self: center;
			}


			.message{
				max-width: 240px;
				justify-self: center;
			}

			.button{
				max-width: 200px;
				justify-self: center;
			}
		}
	}
}

iframe{
	width: 1920px;
	height: 350px; 
	border: 0px;
}